@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.background-bg {
  background-image: url("./assets/moon-cloud.jpg");
  background-size: 100vw 192px;
  background-repeat: no-repeat;
}